<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/assets/logo.png" type="image/png"> <!--buat ngubah icon title web-->
    <link rel="stylesheet" href="../static/styleResult.css">
    <title>Login Page</title>
</head>
<body>
    <header>
        <div class="header">
            <img src="../static/assets/logo.png" alt="logo" class="logo">
            <h1 class="title">Sekolah Indonesia</h1>
        </div>
    </header>
    <hr>
    <br>
    <br>
    
    <main>
        <section class="sended">
            <img src="../static/assets/x.gif" alt="" width="50px"/>
            <h1>Maaf, Login Gagal!</h1>
          </section>
    </main>
    
    <br>
    <br>
    <hr>
    <footer>
        <div class="footer">
            <img src="../static/assets/logo.png" alt="logo" class="logo">
            <p class="copyright">
                <span>
                    Copyright © <span id="currentYear">2025</span> Sekolah Indonesia. All Right Reserved.
                </span>
            </p>
        </div>
    </footer>
</body>
</html>